.storybook-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.storybook-header svg,
.storybook-header h1 {
  display: inline-block;
  vertical-align: top;
}

.storybook-header h1 {
  margin: 6px 0 6px 10px;
  font-size: 20px;
  line-height: 1;
}

.storybook-header storybook-button + storybook-button {
  margin-left: 10px;
}

.welcome {
  margin-right: 10px;
  font-size: 14px;
}
